<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercise</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-color: white;
      }
      #card {
        text-align: center;
        color: brown;
        text-shadow: 1em;
      }

      #img {
        width: 100%;
        height: 100%;
        padding: 2%;
        /* margin: 2%; */
      }
      #btn {
        background: "darkblue";
        color: "white";
        padding: "10px";
        margin: "10px";
      }
    </style>
  </head>
  <body>
    <div class="mycard">
      <header>
        <h1 id="card">Personal Gym Trainer</h1>
      </header>

      <img src="/static/images/image8.gif" alt="exercise" id="img" />

      <div class="text-center">
      <a href="/dashboard" class="btn btn-danger btn-lg" id="btn" type="button">
        Get Started
      </a>
    </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
